* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    width: 100%;   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
}
.container {
    text-align: center; /* Centra el contenido horizontalmente */
}

img {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción */
    display: block; /* Asegura que respete el margin auto */
    margin: 0 auto; /* Centra horizontalmente */
}

.btn {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 20px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior */
}

.btn a {
    text-decoration: none;
    color: #ffffff;
    background: #dd08da;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.3);
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btn a:hover {
    background: #b306b3; /* Color más oscuro al pasar el mouse */
}
